<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{pagestr["formationexperience"]|safe}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HT-Tools is a database of helper functions for the online Hattrick Football manager. Training estimation, health estimation and many other tools are available">
    <meta name="keywords" content="hattrick, football manager, online games, football, training, chpp">
    <meta property="og:image" content="http://www.ht-tools.eu/static/images/logo.png"/>
    <link rel="shortcut icon" type="image/png" href="http://www.ht-tools.eu/static/images/favicon.png"/>

<!-- Bootstrap style --> 
    <link href="/static/css/materialize.min.css" rel="stylesheet"/>
    <link href="/static/css/ht-tools.css" rel="stylesheet"/>
    <link href="/static/css/adsense.css" rel="stylesheet"/>
    <!--<link href="/static/noUiSlider/jquery.nouislider.min.css" rel="stylesheet"/> -->

<!-- fav and touch icons -->
    <link rel="shortcut icon" href="themes/images/ico/favicon.ico">

  </head>

  
<body>

<header>
  
{% include "header.html" %}

</header>

<main>

  <div>
    <div class="row">

      <div class="col s12 m12 l2">
      {% if not login %}
              <div class="card-panel" style="background-color:#fcf6df;border:1px solid orange;margin-top:50px">{{headerstr["loginmessage"]|safe}}</div>
      {% endif %}

      <div id="ad1" class="adslot1" style="margin-top:35px;text-align:center">{% include "responsive_left.html" %}</div>
    </div>

      <div class="col s12 m12 l10">

    
      <div id="ad1" class="col s12 m12 l10 adslot2" style="margin-top:15px;margin-bottom:15px;text-align:center">{% include "responsive_banner.html" %}</div>
      <div id="ad1" class="col s12 m12 l12 adslot3" style="margin-top:15px;margin-bottom:15px;text-align:center">{% include "links.html" %}</div>

      <div class="row">
        <div class="col s12" style="padding:0">
      <ul class="tabs">
        <li class="tab col s6" style="background-color:#277F31"><a class="active" style="color:#ffffff" href="#tool">{{pagestr["formationexperience"]|safe}}</a></li>
        <li class="tab col s6" style="background-color:#277F31"><a  style="color:#ffffff" href="#info">{{pagestr["info"]|safe}}</a></li>
        
      </ul>
    </div>

    <div id="tool" class="col s12" style="padding:30px;background-color:#FFF">
        
      <div class="col l12 m12 s12" style="background: none repeat scroll 0% 0% #FFF; border-radius: 15px; padding: 20px; margin-bottom: 5px">

       <form id="my-form-1">
        
          <div class="col s12 input_fields_wrap">
            <div class="col l3 m6 s12">
               <h5>{{pagestr["match"]}} 1</h5>

                <b><span class="col s7">{{pagestr["formation"]}}</span></b>
                <div class="row" style="margin-bottom: 0">
                  <div class="col s6" style="margin-top: 15px">
                  <select class="browser-default" name="formation">   
                  {% for line in ["5-5-0", "5-4-1", "5-3-2", "5-2-3", "4-5-1", "4-4-2", "4-3-3", "3-5-2", "3-4-3", "2-5-3"] %}
                    <option>{{line}}</option>
                  {% endfor %}
                  </select>
                  </div>
                  <div class="input-field  col s6">
                    <input name="minutes" id="minutes11" type="number" min="1" max="90" class="validate">
                    <label for="minutes11">{{pagestr["minutes"]}}</label>
                  </div>
                
                </div>
                 <div class="row" style="margin-bottom: 0">
                  <div class="col s6" style="margin-top: 15px">
                  <select class="browser-default" name="formation">   
                  {% for line in ["5-5-0", "5-4-1", "5-3-2", "5-2-3", "4-5-1", "4-4-2", "4-3-3", "3-5-2", "3-4-3", "2-5-3"] %}
                    <option>{{line}}</option>
                  {% endfor %}
                  </select>
                  </div>
                  <div class="input-field  col s6">
                    <input name="minutes" id="minutes12" type="number" min="1" max="90" class="validate">
                    <label for="minutes12">{{pagestr["minutes"]}}</label>
                  </div>
                
                </div>
                 <div class="row" style="margin-bottom: 0">
                  <div class="col s6" style="margin-top: 15px">
                  <select class="browser-default" name="formation">   
                  {% for line in ["5-5-0", "5-4-1", "5-3-2", "5-2-3", "4-5-1", "4-4-2", "4-3-3", "3-5-2", "3-4-3", "2-5-3"] %}
                    <option>{{line}}</option>
                  {% endfor %}
                  </select>
                  </div>
                  <div class="input-field  col s6">
                    <input name="minutes" id="minutes13" type="number" min="1" max="90" class="validate">
                    <label for="minutes13">{{pagestr["minutes"]}}</label>
                  </div>
                
                </div>
            </div>

            <div class="col l3 m6 s12">
               <h5>{{pagestr["match"]}} 2</h5>

                <b><span class="col s7">{{pagestr["formation"]}}</span></b>
                <div class="row" style="margin-bottom: 0">
                  <div class="col s6" style="margin-top: 15px">
                  <select class="browser-default" name="formation">   
                  {% for line in ["5-5-0", "5-4-1", "5-3-2", "5-2-3", "4-5-1", "4-4-2", "4-3-3", "3-5-2", "3-4-3", "2-5-3"] %}
                    <option>{{line}}</option>
                  {% endfor %}
                  </select>
                  </div>
                  <div class="input-field  col s6">
                    <input name="minutes" id="minutes21" type="number" min="1" max="90" class="validate">
                    <label for="minutes21">{{pagestr["minutes"]}}</label>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 0">
                  <div class="col s6" style="margin-top: 15px">
                  <select class="browser-default" name="formation">   
                  {% for line in ["5-5-0", "5-4-1", "5-3-2", "5-2-3", "4-5-1", "4-4-2", "4-3-3", "3-5-2", "3-4-3", "2-5-3"] %}
                    <option>{{line}}</option>
                  {% endfor %}
                  </select>
                  </div>
                  <div class="input-field  col s6">
                    <input name="minutes" id="minutes22" type="number" min="1" max="90" class="validate">
                    <label for="minutes22">{{pagestr["minutes"]}}</label>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 0">
                  <div class="col s6" style="margin-top: 15px">
                  <select class="browser-default" name="formation">   
                  {% for line in ["5-5-0", "5-4-1", "5-3-2", "5-2-3", "4-5-1", "4-4-2", "4-3-3", "3-5-2", "3-4-3", "2-5-3"] %}
                    <option>{{line}}</option>
                  {% endfor %}
                  </select>
                  </div>
                  <div class="input-field  col s6">
                    <input name="minutes" id="minutes23" type="number" min="1" max="90" class="validate">
                    <label for="minutes23">{{pagestr["minutes"]}}</label>
                  </div>
                </div>
            </div>

            <div class="col l3 m6 s12">
               <h5>{{pagestr["match"]}} 3</h5>

                <b><span class="col s7">{{pagestr["formation"]}}</span></b>
                <div class="row" style="margin-bottom: 0">
                  <div class="col s6" style="margin-top: 15px">
                  <select class="browser-default" name="formation">   
                  {% for line in ["5-5-0", "5-4-1", "5-3-2", "5-2-3", "4-5-1", "4-4-2", "4-3-3", "3-5-2", "3-4-3", "2-5-3"] %}
                    <option>{{line}}</option>
                  {% endfor %}
                  </select>
                  </div>
                  <div class="input-field  col s6">
                    <input name="minutes" id="minutes31" type="number" min="1" max="90" class="validate">
                    <label for="minutes31">{{pagestr["minutes"]}}</label>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 0">
                  <div class="col s6" style="margin-top: 15px">
                  <select class="browser-default" name="formation">   
                  {% for line in ["5-5-0", "5-4-1", "5-3-2", "5-2-3", "4-5-1", "4-4-2", "4-3-3", "3-5-2", "3-4-3", "2-5-3"] %}
                    <option>{{line}}</option>
                  {% endfor %}
                  </select>
                  </div>
                  <div class="input-field  col s6">
                    <input name="minutes" id="minutes32" type="number" min="1" max="90" class="validate">
                    <label for="minutes32">{{pagestr["minutes"]}}</label>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 0">
                  <div class="col s6" style="margin-top: 15px">
                  <select class="browser-default" name="formation">   
                  {% for line in ["5-5-0", "5-4-1", "5-3-2", "5-2-3", "4-5-1", "4-4-2", "4-3-3", "3-5-2", "3-4-3", "2-5-3"] %}
                    <option>{{line}}</option>
                  {% endfor %}
                  </select>
                  </div>
                  <div class="input-field  col s6">
                    <input name="minutes" id="minutes33" type="number" min="1" max="90" class="validate">
                    <label for="minutes33">{{pagestr["minutes"]}}</label>
                  </div>
                </div>
            </div>

            <div class="col l3 m6 s12">
               <h5>{{pagestr["match"]}} 4</h5>

                <b><span class="col s7">{{pagestr["formation"]}}</span></b>
                <div class="row" style="margin-bottom: 0">
                  <div class="col s6" style="margin-top: 15px">
                  <select class="browser-default" name="formation">   
                  {% for line in ["5-5-0", "5-4-1", "5-3-2", "5-2-3", "4-5-1", "4-4-2", "4-3-3", "3-5-2", "3-4-3", "2-5-3"] %}
                    <option>{{line}}</option>
                  {% endfor %}
                  </select>
                  </div>
                  <div class="input-field col s6">
                    <input name="minutes" id="minutes41" type="number" min="1" max="90" class="validate">
                    <label for="minutes41">{{pagestr["minutes"]}}</label>
                  </div>
                  
                </div>
                <div class="row" style="margin-bottom: 0">
                  <div class="col s6" style="margin-top: 15px">
                  <select class="browser-default" name="formation">   
                  {% for line in ["5-5-0", "5-4-1", "5-3-2", "5-2-3", "4-5-1", "4-4-2", "4-3-3", "3-5-2", "3-4-3", "2-5-3"] %}
                    <option>{{line}}</option>
                  {% endfor %}
                  </select>
                  </div>
                  <div class="input-field col s6">
                    <input name="minutes" id="minutes42" type="number" min="1" max="90" class="validate">
                    <label for="minutes42">{{pagestr["minutes"]}}</label>
                  </div>
                  
                </div>
                <div class="row" style="margin-bottom: 0">
                  <div class="col s6" style="margin-top: 15px">
                  <select class="browser-default" name="formation">   
                  {% for line in ["5-5-0", "5-4-1", "5-3-2", "5-2-3", "4-5-1", "4-4-2", "4-3-3", "3-5-2", "3-4-3", "2-5-3"] %}
                    <option>{{line}}</option>
                  {% endfor %}
                  </select>
                  </div>
                  <div class="input-field col s6">
                    <input name="minutes" id="minutes43" type="number" min="1" max="90" class="validate">
                    <label for="minutes43">{{pagestr["minutes"]}}</label>
                  </div>
                  
                </div>
            </div>
          </div>
        <div class="col s12" style="margin-top:10px">
          <button class="btn green waves-effect waves-light" style="float:left" type="submit">{{pagestr["Submit"]|safe}}</button>
        </div>
      </form>
        
      </div>
    
    <div class="col l12 m12 s12">
      <div class="col m6 s12">
        {% if login %}
              <select class="browser-default" name="players" id="teams" onchange="getValue(this)">
                <option value="" disabled selected>{{pagestr["chooseyourteam"]|safe}}</option>
                  {% for i in teams %}
                     <option value="{{i[0]}}">{{i[1]}}</option>
                  {% endfor %}
               </select>
           <br>
          <div class="progress" id="progress" style="display:none">
            <div class="indeterminate"></div>
          </div> 
        
       {% endif %}
       <h5>{{pagestr["addformationmanually"]}}</h5>
       <div class="row">
        <div class="col s4">
          <select class="browser-default" id="addform" style="float:left;margin-right:5px;margin-top:15px">
        {% for line in ["5-5-0", "5-4-1", "5-3-2", "5-2-3", "4-5-1", "4-4-2", "4-3-3", "3-5-2", "3-4-3", "2-5-3"] %}
          <option>{{line}}</option>
        {% endfor %}
          </select>
        </div>
        <div class="input-field  col s4">
          <input name="addlevel" id="addlevel" type="number" min="3" max="10" class="validate">
          <label for="addlevel">{{pagestr["level"]}}</label>
        </div>
        </div>
        <button class="btn green waves-effect waves-light" style="float:left;margin:3px" onclick="addformation()">{{pagestr["addformationlevel"]}}</button>
        <button class="btn green waves-effect waves-light" style="float:left;margin:3px" onclick="resetformation()">{{pagestr["resetformation"]}}</button>
      </div>
      <div class="col m6 s12">

      <div style="float:left"><b>5-5-0</b></div>
      <div class="progress progressbar">
        <div id="progressbar5-5-0" class="determinate" style="width: 30%;" value="3">3/10</div>
      </div>

      <div style="float:left"><b>5-4-1</b></div>
      <div class="progress progressbar">
        <div id="progressbar5-4-1" class="determinate" style="width: 30%;" value="3">3/10</div>
      </div>

      <div style="float:left"><b>5-3-2</b></div>
      <div class="progress progressbar">
        <div id="progressbar5-3-2" class="determinate" style="width: 30%;" value="3">3/10</div>
      </div>

      <div style="float:left"><b>5-2-3</b></div>
      <div class="progress progressbar">
        <div id="progressbar5-2-3" class="determinate" style="width: 30%;" value="3">3/10</div>
      </div>

      <div style="float:left"><b>4-5-1</b></div>
      <div class="progress progressbar">
        <div id="progressbar4-5-1" class="determinate" style="width: 30%;" value="3">3/10</div>
      </div>

      <div style="float:left"><b>4-4-2</b></div>
      <div class="progress progressbar">
        <div id="progressbar4-4-2" class="determinate" style="width: 30%;" value="3">3/10</div>
      </div>

      <div style="float:left"><b>4-3-3</b></div>
      <div class="progress progressbar">
        <div id="progressbar4-3-3" class="determinate" style="width: 30%;" value="3">3/10</div>
      </div>

      <div style="float:left"><b>3-5-2</b></div>
      <div class="progress progressbar">
        <div id="progressbar3-5-2" class="determinate" style="width: 30%;" value="3">3/10</div>
      </div>

      <div style="float:left"><b>3-4-3</b></div>
      <div class="progress progressbar">
        <div id="progressbar3-4-3" class="determinate" style="width: 30%;" value="3">3/10</div>
      </div>

      <div style="float:left"><b>2-5-3</b></div>
      <div class="progress progressbar">
        <div id="progressbar2-5-3" class="determinate" style="width: 30%;" value="3">3/10</div>
      </div>

    </div>

        <div id="ad3" class="col s12 m12 l12" style="margin-top:35px;text-align:center">{% include "responsive_banner.html" %}</div>
    </div>

  </div>
  
    <div id="info" class="col s12" style="padding:30px;background-color:#FFF">
        <h5><b>{{pagestr["formationexperience"]|safe}}</b></h5>
        <img src="/static/images/formexp.png" style="float:left;margin-right:15px"><span><b>{{pagestr["info"]|safe}}:</b> {{pagestr["description"]|safe}}</span>

      </div>
    </div>

    </div>
  </div>

  {% include "language-selector.html" %}
   
</main>

<footer>

    {% include "footer.html" %}
      
</footer>




<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/noUiSlider/jquery.nouislider.all.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/cookies.js"></script>

<script type="text/javascript" src="/static/js/formationexperience.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
      $('.button-collapse').sideNav({menuWidth: 340, activationWidth: 70, edge: 'right'});
      $('.collapsible').collapsible();
      $('ul.tabs').tabs();
    });
</script>

{% include "analytics.html" %}


<script type="text/javascript">
$('#my-form-1').on('submit', function () {
    formationexperiencecalc();
    return false;
});

</script>


<script type="text/javascript">

       function getValue(value)  {
           $("#progress").show();

           $.getJSON('/_jquerydownloaddata', 
           {'name':'formationexperience','team':value.value}
           ,

           function(data) {
              var result = data.result;
              for ( var j in result ) {
                var bar = document.getElementById('progressbar'+j);
                lvl = result[j];

                bar.innerHTML = lvl.toFixed(1) + "/10";

                var m = lvl*10;
                var width = m + "%";
    
                bar.setAttribute("style","width:".concat(width));
    
                bar.setAttribute( "value", lvl );

              }

              $("#progress").hide();

           });

          return false;

         };

    </script>


</body>
</html>