<ul id="slide-out" class="side-nav full">
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <div class="collapsible-header">Training<i class="mdi-navigation-arrow-drop-down"></i></div>
          <div class="collapsible-body">
            <ul>
              <li><a href="/training">Training Estimation</a></li>
              <li><a href="#!">Training Plan</a></li>
              <li><a href="#!">Formation Experience</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <div class="collapsible-header">Team<i class="mdi-navigation-arrow-drop-down"></i></div>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">Arena Calculator</a></li>
              <li><a href="#!">Sponsors Revenue</a></li>
              <li><a href="#!">Future Coach</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <div class="collapsible-header">Players<i class="mdi-navigation-arrow-drop-down"></i></div>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">Health Calculator</a></li>
              <li><a href="#!">Subskill Level</a></li>
              <li><a href="#!">Guess Main Skill</a></li>
              <li><a href="#!">Players Comparison</a></li>
              <li><a href="#!">Skill Drop</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <div class="collapsible-header">Matches<i class="mdi-navigation-arrow-drop-down"></i></div>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">Ratings Predictor</a></li>
              <li><a href="#!">Team Spirit</a></li>
              <li><a href="#!">Find the Leader</a></li>
              <li><a href="#!">Total Experience</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <div class="collapsible-header">Miscellaneous<i class="mdi-navigation-arrow-drop-down"></i></div>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">Hattrick Week</a></li>
              <li><a href="#!">Youth Player Stars</a></li>
              <li><a href="#!">Spying the Opponent</a></li>
              <li><a href="#!">Spy Market</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
</ul>

<div style="width:100%;top:0;left:0;background-color:#fff;height:30px;" class="valign-wrapper">
  <a href="#" data-activates="slide-out" class="button-collapse" style="color: #277F31;font-family:Rosetta;"><i class="mdi-navigation-menu left">  HT-TOOLS MENU</i></a>
</div>
