<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Testing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

<!-- Bootstrap style --> 
    <link href="/static/css/materialize.min.css" rel="stylesheet"/>

<!-- fav and touch icons -->
    <link rel="shortcut icon" href="themes/images/ico/favicon.ico">
  </head>


<body>

<h4>IMPORTANT ANNOUNCEMENT</h4>

<p>There was a problem on the server this morning. I tried to upload a few changes on the production server and there was an error from their side which almost blow up the whole site. Unfortunately, my servers knowledge is not enough to fix the problem. Since, I cannot figure it :(</p>

<p>However, I changed the stage server to the production. The downside of this, is that the tools that are not ready yet, will not be available for a while. I will try to work double hours until I will upload them all.</p>

<p>I just need full feedback on the <a href="https://www.hattrick.org/goto.ashx?path=/Forum/Overview.aspx?f=1069431%26v=0" target="_blank" style="display:initial">Official Forum></a> from you to make it faster.</p>

<p>I apologize to everyone and I hope that it could be something that I can solve faster.</p>

<p>At the moment you have access on the following tools:</p>
<p><a href="/training">Training Estimation</a></p>
<p><a href="/guessmainskill">Guess Main Skill</a></p>
<p><a href="/totalexperience">Total Experience</a></p>
<p><a href="/subskill">Subskill</a></p>
<p><a href="/botification">Botification</a></p>
<p><a href="/skilldrop">Skill Drop</a></p>
<p><a href="/healing">Healing</a></p>
<p><a href="/arena">Arena</a></p>
<p><a href="/youthplayerstars">Youth player stars</a></p>
<p><a href="/futurecoach">Future Coach</a></p>







</body>

</html>
