<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Testing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

<!-- Bootstrap style --> 
    <link href="/static/css/materialize.min.css" rel="stylesheet"/>

<!-- fav and touch icons -->
    <link rel="shortcut icon" href="themes/images/ico/favicon.ico">
  </head>

  <style>
    .range-field {
      margin: -0.5em;
    }

    .bordered {
      border: 1px solid #ddd;
    }

    footer {
      background-color: #00BCD4;
    }


  </style>

<body>

<header>
  
{% include "header.html" %}

</header>

<main>

{% block content %}{% endblock %}

</main>

<footer>

    {% include "footer.html" %}
      
    </footer>


</body>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript">
      $('.button-collapse').sideNav({menuWidth: 240, activationWidth: 70, edge: 'right'});
      $('.collapsible').collapsible();
</script>

<script type="text/javascript">
   $(document).ready(function(){
            $('ul.tabs').tabs();
          });
</script>

</html>
