<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{pagestr["futurecoach"]|safe}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HT-Tools is a database of helper functions for the online Hattrick Football manager. Training estimation, health estimation and many other tools are available">
    <meta name="keywords" content="hattrick, football manager, online games, football, training, chpp">
    <meta property="og:image" content="http://www.ht-tools.eu/static/images/logo.png"/>
    <link rel="shortcut icon" type="image/png" href="http://www.ht-tools.eu/static/images/favicon.png"/>

<!-- Bootstrap style --> 
    <link href="/static/css/materialize.min.css" rel="stylesheet"/>
    <link href="/static/css/ht-tools.css" rel="stylesheet"/>
    <link href="/static/css/adsense.css" rel="stylesheet"/>
    <!--<link href="/static/noUiSlider/jquery.nouislider.min.css" rel="stylesheet"/> -->

<!-- fav and touch icons -->
    <link rel="shortcut icon" href="themes/images/ico/favicon.ico">

  </head>

  
<body>

<header>
  
{% include "header.html" %}

</header>

<main>

  <div>
    <div class="row">

      <div class="col s12 m12 l2">
      {% if not login %}
              <div class="card-panel" style="background-color:#fcf6df;border:1px solid orange;margin-top:50px">{{headerstr["loginmessage"]|safe}}</div>
      {% endif %}

      <div id="ad1" class="adslot1" style="margin-top:35px;text-align:center">{% include "responsive_left.html" %}</div>
    </div>

      <div class="col s12 m12 l10">

    
      <div id="ad1" class="col s12 m12 l10 adslot2" style="margin-top:15px;margin-bottom:15px;text-align:center">{% include "responsive_banner.html" %}</div>
      <div id="ad1" class="col s12 m12 l12 adslot3" style="margin-top:15px;margin-bottom:15px;text-align:center">{% include "links.html" %}</div>

      <div class="row">
        <div class="col s12" style="padding:0">
      <ul class="tabs">
        <li class="tab col s6" style="background-color:#277F31"><a class="active" style="color:#ffffff" href="#tool">{{pagestr["spyingtheopponent"]|safe}}</a></li>
        <li class="tab col s6" style="background-color:#277F31"><a  style="color:#ffffff" href="#info">{{pagestr["info"]|safe}}</a></li>
        
      </ul>
    </div>

    <div id="tool" class="col s12" style="padding:30px;background-color:#FFF">
        


  </div>
  
    <div id="info" class="col s12" style="padding:30px;background-color:#FFF">
        <h5><b>{{pagestr["spyingtheopponent"]|safe}}</b></h5>
        <img src="/static/images/futurecoach.png" style="float:left;margin-right:15px"><span><b>{{pagestr["info"]|safe}}:</b> {{pagestr["description"]|safe}}</span>

      </div>
    </div>

    </div>
  </div>

  {% include "language-selector.html" %}
   
</main>

<footer>

    {% include "footer.html" %}
      
</footer>




<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/noUiSlider/jquery.nouislider.all.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/cookies.js"></script>

<script type="text/javascript" src="/static/js/futurecoach.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
      $('.button-collapse').sideNav({menuWidth: 340, activationWidth: 70, edge: 'right'});
      $('.collapsible').collapsible();
      $('ul.tabs').tabs();
    });
</script>

{% include "analytics.html" %}



<script type="text/javascript">

       function getValue(value)  {
           $("#progress").show();

           $.getJSON('/_jquerydownloaddata', 
           {'name':'futurecoach','team':value.value}
           ,

           function(data) {

              $('#slider-experience').val(data.experience);
              $('#slider-leadership').val(data.leadership);
              
          
              $("#progress").hide();

           });

          return false;

         };

    </script>

</body>
</html>