<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{pagestr["subskill"]|safe}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HT-Tools is a database of helper functions for the online Hattrick Football manager. Training estimation, health estimation and many other tools are available">
    <meta name="keywords" content="hattrick, football manager, online games, football, training, chpp">
    <meta property="og:image" content="http://www.ht-tools.eu/static/images/logo.png"/>
    <link rel="shortcut icon" type="image/png" href="http://www.ht-tools.eu/static/images/favicon.png"/>

<!-- Bootstrap style --> 
    <link href="/static/css/materialize.min.css" rel="stylesheet"/>
    <link href="/static/css/ht-tools.css" rel="stylesheet"/>
    <link href="/static/css/adsense.css" rel="stylesheet"/>
    <!--<link href="/static/noUiSlider/jquery.nouislider.min.css" rel="stylesheet"/> -->

<!-- fav and touch icons -->
    <link rel="shortcut icon" href="themes/images/ico/favicon.ico">

  </head>

  
<body>

<header>
  
{% include "header.html" %}

</header>

<main>

  <div>
    <div class="row">

      <div class="col s12 m12 l2">
      {% if not login %}
              <div class="card-panel" style="background-color:#fcf6df;border:1px solid orange;margin-top:50px">{{headerstr["loginmessage"]|safe}}</div>
      {% endif %}

      <div id="ad1" class="adslot1" style="margin-top:35px;text-align:center">{% include "responsive_left.html" %}</div>
    </div>

      <div class="col s12 m12 l10">

    
      <div id="ad1" class="col s12 m12 l10 adslot2" style="margin-top:15px;margin-bottom:15px;text-align:center">{% include "responsive_banner.html" %}</div>
      <div id="ad1" class="col s12 m12 l12 adslot3" style="margin-top:15px;margin-bottom:15px;text-align:center">{% include "links.html" %}</div>

      <div class="row">
        <div class="col s12" style="padding:0">
      <ul class="tabs">
        <li class="tab col s6" style="background-color:#277F31"><a class="active" style="color:#ffffff" href="#tool">{{pagestr["subskill"]|safe}}</a></li>
        <li class="tab col s6" style="background-color:#277F31"><a  style="color:#ffffff" href="#info">{{pagestr["info"]|safe}}</a></li>
        
      </ul>
    </div>

    <div id="tool" class="col s12" style="padding:30px;background-color:#FFF">
        <div class="col l5 m6 s12">
          <form id="my-form">

        {% if login %}
          <div class="col s12">
              <select class="browser-default" name="players" id="teams" onchange="getValue(this)">
                <option value="" disabled selected>{{pagestr["chooseyourplayer"]|safe}}</option>
                  {% for i in players %}
                     <option value="{{i[0]}}">{{i[1]}}</option>
                  {% endfor %}
               </select>
             </div>
           <br><br><br>
          <div class="progress" id="progress" style="display:none">
            <div class="indeterminate"></div>
          </div>          
       {% endif %}
       
        <div><b>{{pagestr["age"]|safe}}</b></div>
        <div class="col l12 m12 s12 slidercls">
          <div id="slider-age" class="slider-success" style="width:80%;float:left"></div><input type="text" id="age-value" style="float:right;width:40px;height:25px;text-align:right" value="0"/>
        </div>
        <div class="row slidercls"><b>{{htlang["skills"]["Keeper"]|safe}}</b><span id="keeperval" style="float:right;text-align:right;font-weight:bold"></span></div>
        <div class="col l12 m12 s12 slidercls">
          <div id="slider-keeper" class="slider-success" style="width:80%;float:left"></div><input type="text" id="keeper-value" style="float:right;width:40px;height:25px;text-align:right;" value="0"/>
        </div>

        <div class="row slidercls"><b>{{htlang["skills"]["Defender"]|safe}}</b><span id="defendingval" style="float:right;text-align:right;font-weight:bold"></span></div>
        <div class="col l12 m12 s12 slidercls">
          <div id="slider-defending" class="slider-success" style="width:80%;float:left"></div><input type="text" id="defending-value" style="float:right;width:40px;height:25px;text-align:right" value="0"/>
        </div>
        
        <div class="row slidercls"><b>{{htlang["skills"]["Playmaker"]|safe}}</b><span id="playmakingval" style="float:right;text-align:right;font-weight:bold"></span></div>
        <div class="col l12 m12 s12 slidercls">
          <div id="slider-playmaking" class="slider-success" style="width:80%;float:left"></div><input type="text" id="playmaking-value" style="float:right;width:40px;height:25px;text-align:right" value="0"/>
        </div>

        <div class="row slidercls"><b>{{htlang["skills"]["Winger"]|safe}}</b><span id="wingerval" style="float:right;text-align:right;font-weight:bold"></span></div>
        <div class="col l12 m12 s12 slidercls">
          <div id="slider-winger" class="slider-success" style="width:80%;float:left"></div><input type="text" id="winger-value" style="float:right;width:40px;height:25px;text-align:right" value="0"/>
        </div>

        <div class="row slidercls"><b>{{htlang["skills"]["Passer"]|safe}}</b><span id="passingval" style="float:right;text-align:right;font-weight:bold"></span></div>
        <div class="col l12 m12 s12 slidercls">
          <div id="slider-passing" class="slider-success" style="width:80%;float:left"></div><input type="text" id="passing-value" style="float:right;width:40px;height:25px;text-align:right" value="0"/>
        </div>

        <div class="row slidercls"><b>{{htlang["skills"]["Scorer"]|safe}}</b><span id="scoringval" style="float:right;text-align:right;font-weight:bold"></span></div>
        <div class="col l12 m12 s12 slidercls">
          <div id="slider-scoring" class="slider-success" style="width:80%;float:left"></div><input type="text" id="scoring-value" style="float:right;width:40px;height:25px;text-align:right" value="0"/>
        </div>

        <div class="row slidercls"><b>{{htlang["skills"]["Kicker"]|safe}}</b><span id="setpiecesval" style="float:right;text-align:right;font-weight:bold"></span></div>
        <div class="col l12 m12 s12 slidercls">
          <div id="slider-setpieces" class="slider-success" style="width:80%;float:left"></div><input type="text" id="setpieces-value" style="float:right;width:40px;height:25px;text-align:right" value="0"/>
        </div>

        <div class="input-field col s12 m8 l8">
          <input id="wage" type="text" class="validate" value="{{param['wage']}}" required>
          <label for="wage">{{pagestr["wage"]|safe}}</label>
        </div>

         <button class="btn green waves-effect waves-light" style="float:right" type="submit">{{pagestr["Submit"]|safe}}</button>
      </form>
    </div>
    <div class="col l7 m6 s12">
      <table class="table bordered centered striped" id="resultstable">
            <thead>
              <tr style="background-color: #277F31; color:#fff">
                  <th>{{pagestr["mainskill"]|safe}}</th>
                  <th>{{pagestr["sublevel"]|safe}}</th>
              </tr>
            </thead>
            <tbody>
            <tr>
            <td></td>
            <td></td>
            </tr>


            </tbody>
        </table>

        <div id="ad3" class="col s12 m12 l12" style="margin-top:35px;text-align:center">{% include "responsiveRect.html" %}</div>
    </div>

  </div>
  
    <div id="info" class="col s12" style="padding:30px;background-color:#FFF">
        <h5><b>{{pagestr["subskill"]|safe}}</b></h5>
        <img src="/static/images/subskill.png" style="float:left;margin-right:15px"><span><b>{{pagestr["info"]|safe}}:</b> {{pagestr["description"]|safe}}</span>

      </div>
    </div>

    </div>
  </div>
  </div>

{% include "language-selector.html" %}

</main>

<footer>

    {% include "footer.html" %}
      
</footer>




<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/noUiSlider/jquery.nouislider.all.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/cookies.js"></script>

<script type="text/javascript" src="/static/js/subskill.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $('.button-collapse').sideNav({menuWidth: 340, activationWidth: 70, edge: 'right'});
      $('.collapsible').collapsible();
      $('ul.tabs').tabs();
    });
</script>

{% include "analytics.html" %}

<script type="text/javascript">
$('#my-form').on('submit', function () {
    subskillcalc();
    var tableobj = document.getElementById('resultstable').getElementsByTagName('tbody')[0];
    if ( tableobj.rows[0].cells[0].innerHTML !== "" ) {
      var mainskill = tableobj.rows[0].cells[0].innerHTML;
      var skills = {{htlang["skills"]|tojson|safe}};
      tableobj.rows[0].cells[0].innerHTML = skills[mainskill];
    }
    return false;
});
</script>

<script type="text/javascript">
  var names = {{htlang["levels"]|safe}};


  $('#slider-age').noUiSlider({
  connect: 'lower',
  start: [ {{param['age']}} ],
  step: 1,
  range: {
    'min': [  17 ],
    'max': [ 38 ]
  },
  format: wNumb({
    decimals: 0
  })
});    

$('#slider-age').Link('lower').to($('#age-value'));  

$('#slider-keeper').noUiSlider({
  connect: 'lower',
  start: [ {{param['keeper']}} ],
  step: 1,
  range: {
    'min': [  0 ],
    'max': [ 20 ]
  },
  format: wNumb({
    decimals: 0
  })
});    

$('#slider-keeper').Link('lower').to($('#keeper-value'));

$('#slider-defending').noUiSlider({
  connect: 'lower',
  start: [ {{param['defending']}} ],
  step: 1,
  range: {
    'min': [  0 ],
    'max': [ 20 ]
  },
  format: wNumb({
    decimals: 0
  })
});    

$('#slider-defending').Link('lower').to($('#defending-value'));

$('#slider-playmaking').noUiSlider({
  connect: 'lower',
  start: [ {{param['playmaking']}} ],
  step: 1,
  range: {
    'min': [  0 ],
    'max': [ 20 ]
  },
  format: wNumb({
    decimals: 0
  })
});    

$('#slider-playmaking').Link('lower').to($('#playmaking-value'));

$('#slider-winger').noUiSlider({
  connect: 'lower',
  start: [ {{param['winger']}} ],
  step: 1,
  range: {
    'min': [  0 ],
    'max': [ 20 ]
  },
  format: wNumb({
    decimals: 0
  })
});    

$('#slider-winger').Link('lower').to($('#winger-value')); 

$('#slider-passing').noUiSlider({
  connect: 'lower',
  start: [ {{param['passing']}} ],
  step: 1,
  range: {
    'min': [  0 ],
    'max': [ 20 ]
  },
  format: wNumb({
    decimals: 0
  })
});    

$('#slider-passing').Link('lower').to($('#passing-value')); 

$('#slider-scoring').noUiSlider({
  connect: 'lower',
  start: [ {{param['scoring']}} ],
  step: 1,
  range: {
    'min': [  0 ],
    'max': [ 20 ]
  },
  format: wNumb({
    decimals: 0
  })
});    

$('#slider-scoring').Link('lower').to($('#scoring-value')); 

$('#slider-setpieces').noUiSlider({
  connect: 'lower',
  start: [ {{param['setpieces']}} ],
  step: 1,
  range: {
    'min': [  0 ],
    'max': [ 20 ]
  },
  format: wNumb({
    decimals: 0
  })
});    

$('#slider-setpieces').Link('lower').to($('#setpieces-value')); 


$( "#slider-keeper" ).Link().to($( "#keeperval" ), function ( value ) {
    $(this).html(names[value]);
});

$( "#slider-defending" ).Link().to($( "#defendingval" ), function ( value ) {
    $(this).html(names[value]);
});

$( "#slider-playmaking" ).Link().to($( "#playmakingval" ), function ( value ) {
    $(this).html(names[value]);
});

$( "#slider-winger" ).Link().to($( "#wingerval" ), function ( value ) {
    $(this).html(names[value]);
});

$( "#slider-passing" ).Link().to($( "#passingval" ), function ( value ) {
    $(this).html(names[value]);
});

$( "#slider-scoring" ).Link().to($( "#scoringval" ), function ( value ) {
    $(this).html(names[value]);
});

$( "#slider-setpieces" ).Link().to($( "#setpiecesval" ), function ( value ) {
    $(this).html(names[value]);
});
  

</script>

<script type="text/javascript">

       function getValue(value)  {
           $("#progress").show();

           $.getJSON('/_jquerydownloaddata', 
           {'name':'subskill','team':value.value}
           ,

           function(data) {

              $('#slider-age').val(data.age);
              
              $('#slider-keeper').val(data.keeper);

              $('#slider-defending').val(data.defending);

              $('#slider-playmaking').val(data.playmaking);
              
              $('#slider-winger').val(data.winger);

              $('#slider-passing').val(data.passing);

              $('#slider-scoring').val(data.scoring);
              
              $('#slider-setpieces').val(data.setpieces);

              $('#wage').val(data.wage);
              $('#wage').focus();

              $("#progress").hide();

           });

          return false

         };

    </script>

</body>
</html>