<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{pagestr["trainingintensity"]|safe}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HT-Tools is a database of helper functions for the online Hattrick Football manager. Training estimation, health estimation and many other tools are available">
    <meta name="keywords" content="hattrick, football manager, online games, football, training, chpp">
    <meta property="og:image" content="http://www.ht-tools.eu/static/images/logo.png"/>
    <link rel="shortcut icon" type="image/png" href="http://www.ht-tools.eu/static/images/favicon.png"/>

<!-- Bootstrap style --> 
    <link href="/static/css/materialize.min.css" rel="stylesheet"/>
    <link href="/static/css/ht-tools.css" rel="stylesheet"/>
    <link href="/static/css/adsense.css" rel="stylesheet"/>
    <!--<link href="/static/noUiSlider/jquery.nouislider.min.css" rel="stylesheet"/> -->

<!-- fav and touch icons -->
    <link rel="shortcut icon" href="themes/images/ico/favicon.ico">

  </head>

  
<body>

<header>
  
{% include "header.html" %}

</header>

<main>

  <div>
    <div class="row">

      <div class="col s12 m12 l2">
      {% if not login %}
              <div class="card-panel" style="background-color:#fcf6df;border:1px solid orange;margin-top:50px">{{headerstr["loginmessage"]|safe}}</div>
      {% endif %}

      <div id="ad1" class="adslot1" style="margin-top:35px;text-align:center">{% include "responsive_left.html" %}</div>
    </div>

      <div class="col s12 m12 l10">

    
      <div id="ad1" class="col s12 m12 l10 adslot2" style="margin-top:15px;margin-bottom:15px;text-align:center">{% include "responsive_banner.html" %}</div>
      <div id="ad1" class="col s12 m12 l12 adslot3" style="margin-top:15px;margin-bottom:15px;text-align:center">{% include "links.html" %}</div>

      <div class="row">
        <div class="col s12" style="padding:0">
      <ul class="tabs">
        <li class="tab col s6" style="background-color:#277F31"><a class="active" style="color:#ffffff" href="#tool">{{pagestr["trainingintensity"]|safe}}</a></li>
        <li class="tab col s6" style="background-color:#277F31"><a  style="color:#ffffff" href="#info">{{pagestr["info"]|safe}}</a></li>
        
      </ul>
    </div>

    <div id="tool" class="col s12" style="padding:30px;background-color:#FFF">
        
      <div class="col l5 m6 s12" style="background: none repeat scroll 0% 0% #FFF; border-radius: 15px; padding: 20px; margin-bottom: 5px">

      <form id="my-form-1">

        <div class="input-field col s12">
          <input id="TIbefore" type="number" min="1" max="100" step="1" class="validate" value="100">
          <label for="TIbefore">{{pagestr["tibefore"]|safe}}/label>
        </div>

        <div class="input-field col s12">
          <input id="TSbefore" type="number" min="1" max="10" step="0.01" class="validate" value="4.5">
          <label for="TSbefore">{{pagestr["tsbefore"]|safe}}</label>
        </div>

        <div class="row">
          <div class="col s2" style="margin-top: 20px;">
            <input class="with-gap red" type="radio" name="radiotype" value="TI" id="TIradio" />
            <label for="TIradio"></label>
          </div>
          <div class="input-field col s10">
            <input id="TIafter" type="number" min="1" max="100" step="1" class="validate">
            <label for="TIafter">{{pagestr["tiafter"]|safe}}</label>
          </div>
        </div>

        <div class="row">
          <div class="col s2" style="margin-top: 20px;">
            <input class="with-gap" type="radio" name="radiotype" value="TS" id="TSradio" />
            <label for="TSradio"></label>
          </div>
          <div class="input-field col s10">
            <input id="TSafter" type="number" min="0" max="10" step="0.01" class="validate">
            <label for="TSafter">{{pagestr["tsafter"]|safe}}</label>
          </div>
        </div>

        <button class="btn green waves-effect waves-light" style="float:right" type="submit">{{pagestr["Submit"]|safe}}</button>
      </form>
        
      </div>

    <div class="col l7 m6 s12">
      <table class="table bordered centered" id="resultstable" style="background-color:#fff">
            <tbody>
              <tr>
                <th style="color: #fff;background-color: #277f31;border-color: #277f31;width: 50%;" scope="row">{{pagestr["tibefore"]|safe}}</th>
                <td></td>
              </tr>
              <tr>
                <th style="color: #fff;background-color: #277f31;border-color: #277f31;" scope="row">{{pagestr["tsbefore"]|safe}}</th>
                <td></td>
              </tr>
              <tr>
                <th style="color: #fff;background-color: #277f31;border-color: #277f31;" scope="row">{{pagestr["tiafter"]|safe}}</th>
                <td></td>
              </tr>
              <tr>
                <th style="color: #fff;background-color: #277f31;border-color: #277f31;" scope="row">{{pagestr["tsafter"]|safe}}</th>
                <td></td>
              </tr>
              
            </tbody>
        </table>

        <div id="ad3" class="col s12 m12 l12" style="margin-top:35px;text-align:center">{% include "responsiveRect.html" %}</div>
    </div>

  </div>
  
    <div id="info" class="col s12" style="padding:30px;background-color:#FFF">
        <h5><b>{{pagestr["trainingintensity"]|safe}}</b></h5>
        <img src="/static/images/trainingintensitytrick.png" style="float:left;margin-right:15px"><span><b>{{pagestr["info"]|safe}}:</b> {{pagestr["description"]|safe}}</span>

      </div>
    </div>

    </div>
  </div>

  {% include "language-selector.html" %}
   
</main>

<footer>

    {% include "footer.html" %}
      
</footer>




<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/noUiSlider/jquery.nouislider.all.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/cookies.js"></script>

<script type="text/javascript" src="/static/js/trainingintensity.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
      $('.button-collapse').sideNav({menuWidth: 340, activationWidth: 70, edge: 'right'});
      $('.collapsible').collapsible();
      $('ul.tabs').tabs();
    });
</script>

{% include "analytics.html" %}


<script type="text/javascript">
$('#my-form-1').on('submit', function () {
    trainingintensity();
    var tableobj = document.getElementById('resultstable').getElementsByTagName('tbody')[0];
    TSbefore = parseInt(tableobj.rows[1].cells[1].innerHTML).toString();
    TSafter = parseInt(tableobj.rows[3].cells[1].innerHTML).toString();
    var spirit = jQuery.parseJSON({{htlang['spirit']|safe|tojson}});

    tableobj.rows[1].cells[1].innerHTML = tableobj.rows[1].cells[1].innerHTML + " (" + spirit[TSbefore] + ")";
    tableobj.rows[3].cells[1].innerHTML = tableobj.rows[3].cells[1].innerHTML + " (" + spirit[TSafter] + ")";
    return false;
});

</script>


</body>
</html>